<a href="https://colab.research.google.com/github/mishabali535-cell/ict_assignments/blob/main/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python function to find the Max of three numbers

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
if a>b and a>c:
    print(a,"is greater")
elif b>a and b>c:
    print(b,"is greater")
else:
    print(c,"is greater")

Enter first number:45
Enter second number:67
Enter third number:100
100 is greater

Write a Python function to sum all the numbers in a list.
Sample List : [18, 12, 30,10, 7]
Expected Output : 77

In [ ]:
def sum_list_numbers(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

sample_list = [18, 12, 30, 10, 7]
print(f"Sample List: {sample_list}")
print(f"Expected Output: {sum_list_numbers(sample_list)}")

Sample List: [18, 12, 30, 10, 7]
Expected Output: 77

3. Python program to insert a number to any position in a list (Get the number
to be inserted and position from the user)

In [3]:
my_list = [10, 20, 40, 50]
print(f"Original List: {my_list}")
number_to_insert = int(input("Enter the number you want to insert: "))
position = int(input(f"Enter the position (0-{len(my_list)}) to insert the number: "))
my_list.insert(position, number_to_insert)
print(f"Updated List: {my_list}")

Original List: [10, 20, 40, 50]
Enter the number you want to insert: 30
Enter the position (0-4) to insert the number: 4
Updated List: [10, 20, 40, 50, 30]

4. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
---

In [7]:
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
city_value = sample_dict.pop("city")
sample_dict["location"] = city_value

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

Write a Python program to change Bradâ€™s salary to 8500 in the following
dictionary.
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}
}

In [8]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

6. Write a program to copy elements 44 and 55 from the following tuple into a
new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [9]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {tuple2}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

7. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,
60, 70, 50,83,567,50,81

In [10]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print(count)

3